body {
  background-color:	#F5F5F5;
  font-family: 'Quicksand', serif;
  font-size: 14px;
  margin-bottom: 50px;
}
.title{
  padding: 5px;
  text-align: center; 
  color: #363636;

}
.project{
  padding: 10px;
  border-bottom: 1px dashed grey;
}
.project a :hover{
  border-bottom: 1px dashed white;
}
div.about{
  line-height: 200%;
}