.sidebar {
  height: 500px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 8%;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidebar a {
  padding: 14px 8px 6px 40px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  /* color: black; */
}


.sidebar a:hover {
  color: #00ced1;
}

.sidebar h2{
  background-color: black;
  padding: 5px;
  color: white;
  left: 0px;
}

.sidebar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.full_blog{
  background-color: white;
  box-shadow: 0px 1px 1px 0px grey;
}
.blog{
  padding-bottom: 10px;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

  .sidebar li{
      margin-left: 10px;
      display: inline-block;
  }

  .profile{
      padding: 10px;
      text-align: center;
  }

  .mobile{
    visibility: hidden;
  }
@media screen and (max-width: 1000px) {
    .sidebar{
        visibility: hidden;
    }
    .main{
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .mobile{
      visibility: visible;
    }
    .mobile a {
      display: none;
    }
    .mobile a:not(:first-child) {display: none;}
    .mobile a.icon {
      float: right;
      display: block;
    }
    .mobile.responsive a.icon {
      position: inherit;
      right: 0;
      /* bottom: 0; */
    }
    .mobile.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .title a{
      font-size: 10px;
    }
    
}
@media screen and (min-width: 1000px) {
  .sidebar{
      width: 300px;
  }
  .main{
      margin-left: 300px;
  }
  .sidebar a {
      padding-left: 50px;
  }
  .active{
    color: #00ced1;
  }
}
