body {
    background-color:	#F5F5F5;
    font-family: 'Quicksand', serif;
    font-size: 14px;
  }
  .title{
    padding: 5px;
    text-align: center; 
    font-size: 12px;
    cursor: pointer;
    color: 	#838383;
  }